In [7]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
num=list(range(10,20))
print(num)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
for num in range(10,20):
    print(num,end=' ')

10 11 12 13 14 15 16 17 18 19

In [5]:
lists=[10,20,14,55,43,87,76]
for items in lists:
    print(items)

10
20
14
55
43
87
76

In [4]:
len([10,20,14,55,43,87,76])

7

In [4]:
lists=[10,20,14,55,43,87,76]
print(lists)
print("Number of item in the List2:",len([10,20,14,55,43,87,76]))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2: 7

In [1]:
strn='Artificial Intelligence'
print(strn)

Artificial Intelligence

In [2]:
for course in strn:
    print(strn)

Artificial Intelligence
Artificial Intelligence
Artificial Intelligence
Artificial Intelligence
Artificial Intelligence
Artificial Intelligence
Artificial Intelligence
Artificial Intelligence
Artificial Intelligence
Artificial Intelligence
Artificial Intelligence
Artificial Intelligence
Artificial Intelligence
Artificial Intelligence
Artificial Intelligence
Artificial Intelligence
Artificial Intelligence
Artificial Intelligence
Artificial Intelligence
Artificial Intelligence
Artificial Intelligence
Artificial Intelligence
Artificial Intelligence

In [3]:
for course in strn:
    print(course)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [1]:
input("Your name-")
int(input("Your age-"))
input("Your profession-")

Your name-Sasipriya
Your age-36
Your profession-Medical coder

'Medical coder'

In [1]:
Tuple1 = (1, 'Welcome', 2, 'Hope')
print(Tuple1)

(1, 'Welcome', 2, 'Hope')

In [2]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
Tuple3 = (Tuple1, Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [6]:
lists=[20,10,16,19,25,1,276,188]
print(lists)

[20, 10, 16, 19, 25, 1, 276, 188]

In [15]:
for odd in lists:
    if odd%2==1:
        print(odd,"is odd")

19 is odd
25 is odd
1 is odd

In [16]:
lists=(20,10,16,19,25,1,276,188)
print(lists)

(20, 10, 16, 19, 25, 1, 276, 188)

In [18]:
for odd in lists:
    if odd%2==0:
        print(odd,"is odd")

20 is odd
10 is odd
16 is odd
276 is odd
188 is odd